link(href="./bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(rel="stylesheet", href="css/common.css")
script(src="./jquery/dist/jquery.js")
script(src="./bootstrap/dist/js/bootstrap.js")
script(src="../../js/common.js")